/* setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

/* adds rows to div to make 2 column section */
.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

header {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  position: fixed
}

img {
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* Link Styling */
a {
  color: rgba(196, 22, 28, 1.0);
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #333333;
}

a:hover,
a:focus {
  color: rgba(196, 22, 28, 0.5);
  text-decoration: underline;
  /* underlines on hover for accessibility */
}

a:active {
  /* selected link */
  color: rgba(196, 22, 28, 1.0);
}

/* "View Case Study" Buttons Styling */
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block*/
  background-color: rgba(196, 22, 28, 1.0);
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  color: #ffffff;
  text-decoration: none;
}

/* on mobile: hover action is visible when selecting the button */
.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  color: #ffffff;
  text-decoration: none;
}

/* "E-mail me" Buttons Styling */
.button.contact {
  background-color: transparent;
  color: rgba(196, 22, 28, 1.0);
  text-transform: uppercase;
  border: 2px solid rgba(196, 22, 28, 1.0);
  padding: 20px 20px;
}

.button.contact:hover {
  background-color: rgba(196, 22, 28, 1.0);
  color: #ffffff;
}

/* on mobile: hover action is visible when selecting the button */
.button.contact:active {
  background-color: rgba(196, 22, 28, 1.0);
  color: #ffffff;
}

#emailbutton {
  padding: 20px 20px;
}

/* "Resume" Buttons Styling */
.button.resume {
  background-color: transparent;
  color: rgba(196, 22, 28, 1.0);
  text-transform: uppercase;
  border: 2px solid rgba(196, 22, 28, 1.0);
}

.button.resume:hover {
  background-color: rgba(196, 22, 28, 1.0);
  color: #ffffff;
}

/* on mobile: hover action is visible when selecting the button */
.button.resume:active {
  background-color: rgba(196, 22, 28, 1.0);
  color: #ffffff;
}

.logo {
  width: 200px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav>ul>li>a:visted {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #c4161c;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #c4161c;
}

/* adds 265px padding (same height as header) to allow for position fixed */
main {
  padding-top: 265px;
}

#hero {
  background-color: #f2f2f2;
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero span {
  display: block;
  font-size: 2.25em;
  font-weight: 700;
}

#hero h2 {
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#contact {
  background-color: #000000;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

#contact h2 {
  text-transform: uppercase;
}

#social {
  font-size: 30px;
  /* font size effects icon size */
  padding: 20px 20px;
  /* padding above above and under icons */
  text-align: center;
}

/* padding inbetween icons */
a>i {
  padding-right: 10px;
  padding-left: 10px;
}

#copyright {
  color: #333333
}

/* About Page Styles */
#about-page h1 {
  text-align: center;
}

#about-page h2 {
  text-align: center;
}

#about-page h3 {
  margin-top: 0;
}

/* Work Page (Index) Styles */
#work-page h3 {
  margin-top: 0;
}

#work-page h2 {
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  .logo {
    width: 90px;
  }

  main {
    padding-top: 220px;
  }

  header {
    text-align: unset;
    padding: 20px 0 13px;
    width: 100%;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (max-width: 450px) {

  .logo {
    width: 150px;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}

/* colors used
primary color (red):#c4161c web color#cc0000
rgba(196,22,28,0.0)

secondary color (dark gray): #333333
light gray:#f2f2f2
 */
